body{
    padding: 0;
    margin: 0;
}

/* header start */
nav{
    width:1300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right img{
    padding: 10px 10px;
    margin: 10px;
}
.nav-left ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    gap: 30px;

}
.nav-left li a{
    text-decoration: none;
    color: #171931;
    font-size: 18px;
    font-family: 'figtree',sans-serif;
    padding: 30px 20px;
    font-weight: 600;

}
/* header end */

.container{
    width: 1200px;
    margin: auto;
}
/* hero-section start */
.hero-section{
    background-color: #fef3df;
}
.hero-section-container{
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-section-left{
    padding-bottom: 80px;
}
.hero-section-left img{
  width: 85px;
}
.hero-section-left h1{
   color: #2f3349;
       max-width: 556px;
        font-family: "Urbanist", Sans-serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        margin: 0;
        padding: 0;
}
.hero-section-left h1 .line{
    border-bottom: 2px solid #D7C49E;
}
.hero-section-left .hero-pera{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 35px;
    color: #2f3349;
    max-width: 520px;
}

.hero-section-left button{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Figtree',sans-serif;
    background-color:#2f3349;
    color: #fff;
    border: #2f3349 ;
    height: 50px;
    width: 280px;
    cursor: pointer;
}
.hero-section-right img{
    width: 350px;
    height: 520px;

}
.hero-section-right{
    width: 590px;
    height: 400px;
   background-image: url(/img/Clip-1-1.svg);
   background-position: bottom center;
   background-repeat: no-repeat ;
}

/* hero-section end */
/* logo-section start */
.logo-section-container{
    padding: 80px;
   
    text-align: center;
}
.logo-section-container h2{
      color: #2f3349;
    
        font-family: "Urbanist", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        margin: 0;
        
     
}
 .logo-wrapping-box1 img{
    width: 151px;
}
.logo-section-container p{
     font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 15px;
    color: #2f3349;

}
.logo-wrapping-box2{
     width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}


.logo-wrapping-box2 img{
    width: 100px;
    height: 20px;
    padding: 10px;
 
}
.logo-wrapping-box3 {
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.logo-wrapping-box3 img{
     width: 100px;
    height: 20px;
    padding: 10px;

}




/* logo-section end */
 /*  Introduction-section start */
 .Introduction-section{
    background-color: #e6ebe4;
 }
 .Introduction-section-container{
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 80px 20px;
 }
 .Intro-left{
    height: 515px;
    width: 515px;
    margin: 0px 40px 0px 60px;
    padding: 10px;
    text-align: center;
    
 }
 .Intro-left img{
    width: 360px;
    height: 480px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);

 }

 .Intro-right{
    width: 545px;
    height: 514px;
 }
 .Intro-right h3{
       color: #2f3349;
    
        font-family: "Urbanist", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;

 }
 .Intro-right p{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 15px;
    color: #2f3349;
   

 }
 .Intro-right .pera2{
    max-width: 517px;
 }
 .Intro-right .pera3{
    max-width: 526px;
 }



  /*  Introduction-section end */