body{
    padding: 0;
    margin: 0;
}

/* header start */
nav{
    width:1300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right img{
    padding: 10px 10px;
    margin: 10px;
}
.nav-left ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    gap: 30px;

}
.nav-left li a{
    text-decoration: none;
    color: #171931;
    font-size: 18px;
    font-family: 'figtree',sans-serif;
    padding: 30px 20px;
    font-weight: 600;

}
/* header end */

.container{
    width: 1150px;
    margin: auto;
}
/* hero-section start */
.hero-section{
    background-color: #fef3df;
}
.hero-section-container{
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-section-left{
    padding-bottom: 80px;
}
.hero-section-left img{
  width: 85px;
}
.hero-section-left h1{
   color: #2f3349;
       max-width: 556px;
        font-family: "Urbanist", Sans-serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        margin: 0;
        padding: 0;
}
.hero-section-left h1 .line{
    border-bottom: 2px solid #D7C49E;
}
.hero-section-left .hero-pera{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 35px;
    color: #2f3349;
    max-width: 520px;
}

.hero-section-left button{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Figtree',sans-serif;
    background-color:#2f3349;
    color: #fff;
    border: #2f3349 ;
    height: 50px;
    width: 280px;
    cursor: pointer;
}
.hero-section-right img{
    width: 350px;
    height: 520px;

}
.hero-section-right{
    width: 590px;
    height: 400px;
   background-image: url(/img/Clip-1-1.svg);
   background-position: bottom center;
   background-repeat: no-repeat ;
}

/* hero-section end */
/* logo-section start */
.logo-section-container{
    padding: 80px;
   
    text-align: center;
}
.logo-section-container h2{
      color: #2f3349;
    
        font-family: "Urbanist", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        margin: 0;
        
     
}
 .logo-wrapping-box1 img{
    width: 151px;
}
.logo-section-container p{
     font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 15px;
    color: #2f3349;

}
.logo-wrapping-box2{
     width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}


.logo-wrapping-box2 img{
    width: 100px;
    height: 20px;
    padding: 10px;
 
}
.logo-wrapping-box3 {
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.logo-wrapping-box3 img{
     width: 100px;
    height: 20px;
    padding: 10px;

}




/* logo-section end */
 /*  Introduction-section start */
 .Introduction-section{
    background-color: #e6ebe4;
 }
 .Introduction-section-container{
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 80px 20px;
 }
 .Intro-left{
    height: 515px;
    width: 515px;
    margin: 0px 40px 0px 60px;
    padding: 10px;
    text-align: center;
    
 }
 .Intro-left img{
    width: 360px;
    height: 480px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);

 }

 .Intro-right{
    width: 545px;
    height: 514px;
 }
 .Intro-right h3{
       color: #2f3349; 
  font-family: "Urbanist", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;

 }
 .Intro-right p{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 15px;
    color: #2f3349;
   

 }
 .Intro-right .pera2{
    max-width: 517px;
 }
 .Intro-right .pera3{
    max-width: 526px;
 }



  /*  Introduction-section end */
  /* google-add-section start */

  .google-ads-section-container{
    padding: 80px;
    text-align: center;
    
  }
.google-ads-section-container h2{

    color: #2f3349; 
    font-family: "Urbanist", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 42px;
   
}
.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1{
    width: 245px;
    height:350px;
    background-color: #fef3df;
    margin: 0px 10px;
    padding: 62px;
}
.card1 img{
    width: 100px;
    height: 82px;
}
.card1 h4{
    color: #2f3349;
    font-size: 22px;
    font-family: 'Urbanist',sans-serif;
    line-height: 26px;
    font-weight: 700;
    margin-top: 10px;
}
.card1 p{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 30px;
    color: #2f3349;

}
.card1 button{
    height: 47px;
    width: 245px;
    padding: 15px 25px 15px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Figtree',sans-serif;
    background-color:#fef3df;
    color: #2f3349;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2F33493B;
    cursor: pointer;
    transition: all .3s;
}
.card1 button:hover{
    background-color: #171931;
    color: #fff;
}
.card2{
    width: 245px;
    height:350px;
    background-color: #e6ebe4;
    margin: 0px 10px;
    padding: 62px;

}
.card2 img{
    width: 100px;
    height: 82px;
}
.card2 h4{
    color: #2f3349;
    font-size: 22px;
    font-family: 'Urbanist',sans-serif;
    line-height: 26px;
    font-weight: 700;
    margin-top: 10px;
}
.card2 p{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 30px;
    color: #2f3349;

}
.card2 button{
    height: 47px;
    width: 245px;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: 'Figtree',sans-serif;
    background-color: #e6ebe4;
    color: #2f3349;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2F33493B;
    cursor: pointer;
    transition: all .3s;
}
.card2 button:hover{
    background-color: #171931;
    color: #fff;
}
.card3{
    width: 245px;
    height:350px;
    background-color: #e0f1f1;
    margin: 0px 10px;
    padding: 62px;

}
.card3 img{
    width: 100px;
    height: 82px;
}
.card3 h4{
    color: #2f3349;
    font-size: 22px;
    font-family: 'Urbanist',sans-serif;
    line-height: 26px;
    font-weight: 700;
    margin-top: 10px;
}
.card3 p{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 30px;
    color: #2f3349;

}
.card3 button{
    height: 15px;
    width: 194px;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Figtree',sans-serif;
    background-color: #e0f1f1;
    color: #2f3349;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2F33493B;

    text-align: center;
    cursor: pointer;
    transition: all .3s;
}
.card3 button:hover{
    background-color: #171931;
    color: #fff;
}




   /* google-add-section end */
   /* work-with-me-section start */
   .work-section{
    background-color: #E0F1F1;
   }
.work-section-container{
    padding: 80px;
    display: flex;

}
.work-left{
    width: 542px;
    height: 473px;
    padding: 10px;
}
.work-left h3{
    font-family: "Urbanist", Sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    color: #a5babb;
}
.work-left h1{
    color: #2f3349; 
     font-family: "Urbanist", Sans-serif;
     font-size: 40px;
     font-weight: 700;
     line-height: 60px;
     margin-bottom: 20px;
     margin-top: 0;
    
}
.work-left p{
    font-size: 18px;
    line-height: 1.6em;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin: 0px 0px 35px;
    color: #2f3349;
    margin-bottom: 35px;
}
.work-left button{
    height: 50px;
    width: 141px;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Figtree',sans-serif;
    background-color:#2f3349;
    color: #fff;
    border: #2f3349 ;
    
  
    cursor: pointer;
    
}
.work-right{
    width: 627px;
    height: 423px;
    background-image: url(https://bobmeijer.nl/wp-content/uploads/2022/09/circle.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 10px;
}

   /* work-with-me-section end */